//Overall layout styles
@import './helpers/colors';
@import './helpers/typography';

.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: $beige-background;
    font-family: 'IBM Plex Serif';
    overflow: hidden;
}

.borderBottom {
    border-bottom: 1px solid;
    border-color: $border-grey;
}

.borderRight {
    border-right: 1px solid;
    border-color: $border-grey;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.width8 {
    width: 100%;
}

.width4 {
    width: 50%;
}

.width2 {
    width: 25%;
}

.width1 {
    width: 12.5%;
}

.width6 {
    width: 75%;
}

.height1 {
    height: 12.5%;
}

.height6 {
    height: 75%;
}

.contentBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



////Fonts
h1, h2, h3, h4, h5, h6 {
    font-family: 'Krona One';
}

a{
    font-family: 'Krona One';
}
