//Only styles relating to the menu
@import './helpers/colors';

.menuWrapper {
    overflow: hidden;
}

.menu {
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    transition: margin-top 0.5s ease-in-out;
}

.oneSixth {
    height: 16.6666%;
    margin-bottom: 0;
}

.fiveSixth {
    height: 83.3333%;
    overflow: scroll;
}

.link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $content-grey;
    transition: 0.3s;

    &:hover {
        color: $beige-background;
        background-color: $content-grey;
    }
}

.content{
    padding: 15px;
}

//Being made for about menu
.height100 {
    height: 100%;
}

.floatLeft {
    float: left;
}

.borderRightNotLast {
    &:last-child {
        border-right: none;
    }
}

.hoverPointer {
    &:hover{
        cursor: pointer;
    }
}